<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PdcEvaluacion.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3" Match="NavLinkMatch.All">
            <NavLink class="nav-link" href="empresas">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Empresas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colaboradores">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Colaboradores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="geografia">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Geografía
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
